*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;


}
.hero{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(background.jpg);
    background-position: centre;
    background-size: cover;
    overflow-x: scroll;
    position: relative;

}
.nav-bar{
    display: flex;
    padding: 40px 100px;
}
.nav-logo img{
    width: 10px;
    height: 10px;
}
.nav-links{
    flex: 1;
}
.nav-links ul{
    margin-left: 50px;
    display: inline;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
}
.nav-links ul li{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: red ;
    display: block;
    margin: auto;
    transition: .5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.button{
    padding: 5px 10px;
    background-color: yellowgreen;
    font-weight: bold;
    border: 0;
    cursor: pointer;
}
.nav-links .button{
    float: right;
}
.banner{
    margin: 80px 130px;
    color: whitesmoke;

}
.banner h1{
    font-size: 64px;
    margin-bottom: 30px;
}
.banner h1 span{
    color: yellowgreen;
}
.vertical-bar{
    height: 100%;
    background-color: #000;
    top: 0;
    left: 0;
    position: absolute;
}
.search-icon{
    height: 60%;
    width: 80px;
}
.search-icon .fa{
    margin: 45px 23px;
    display: block;
    color: #fff;
    font-size: 30px;
}
.social-icons{
    height: 35%;
    width: 80px;
    background: yellowgreen;
    text-align: center;
    padding-top: 27%;
    bottom: 0;
    position: absolute;
}
.social-icons img{
    margin: 15px 23px;
    display: block;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
}
.notifications{
    display: flex;
    width: 400px;
    right: 0;
    bottom: 0;
    position: absolute;
    background: yellowgreen;
    align-items: center;
}
.contents{
    flex-basis: 50%;
    padding: 10px;
    font-weight: bold;
font-size: 20px;
}
.notification-img{
    flex-basis: 50%;
}
.notification-img img{
    width: 100%;
}
.contents a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 0 10px;
    font-weight: bold;
}
